altgraph==0.17.4
keyboard==0.13.5
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pynput==1.8.1
pytesseract==0.3.13
pywin32==308
pywin32-ctypes==0.2.3
six==1.17.0
winhotkeys @ git+https://github.com/BenjaminKobjolke/winhotkeys.git@053b0b20bd5d747a4b795d0d392a4a48161fcada
