altgraph==0.17.4
global_hotkeys==0.1.7
keyboard==0.13.5
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
pynput==1.8.1
pytesseract==0.3.13
pywin32==308
pywin32-ctypes==0.2.3
six==1.17.0
